<header class="header-component">
  <!-- ICONES -->
  <div class="header-icons">
    <div id="face">
      <a href="https://wwww.facebook.com.br/matheus.cardoso.domingos/">
        <img src="../../assets/face.png"/>
      </a>
    </div>
    <div id="linkin">
      <a href="https://br.linkedin.com/in/matheus-cardoso-domingos-a11a6a146">
        <img src="../../assets/linkedin.png"/>
      </a>
    </div>
    <div id="insta">
        <a href="https://www.instagram.com/mathcardoso97/">
          <img src="../../assets/insta.png"/>
        </a>
    </div>
    <div id="github">
        <a href="https://github.com/mathcardoso1997/">
          <img src="../../assets/github.png"/>
        </a>
    </div>
  </div>
  <!-- =============  -->


  <div class="header-container">
    <div id="portrait">
        <img src="../../assets/portrait.jpg" class="img-thumbnail" />
    </div>
    <div id="head-name">
      <h1 >Matheus Cardoso Domingos</h1>
    </div>
  </div>

</header>
