<footer class="footer-component">
    <!-- ICONES -->
    <div class="footer-icons">
      <div id="face">
        <a href="https://wwww.facebook.com.br/matheus.cardoso.domingos/">
          <img src="../../assets/face.png"/>
        </a>
      </div>
      <div id="linkin">
        <a href="https://br.linkedin.com/in/matheus-cardoso-domingos-a11a6a146">
          <img src="../../assets/linkedin.png"/>
        </a>
      </div>
      <div id="insta">
          <a href="https://www.instagram.com/mathcardoso97/">
            <img src="../../assets/insta.png"/>
          </a>
      </div>
      <div id="github">
          <a href="https://github.com/mathcardoso1997/">
            <img src="../../assets/github.png"/>
          </a>
      </div>
    </div>
    <!-- =============  -->


    <div class="footer-container">
      <div id="foot-info">
        <div id="to-head" (click)="scrollTop()">Voltar ao Inicio</div>
        <p>Autoria unica e exclusiva de Mathues Cardoso Domingos, desenvolvido em 2018.</p>
      </div>
    </div>

  </footer>
