.menu-component {
  background-color: #EDEDED;
  position: absolute;
  width: 100%;

  .menu-section {
    width: 100%;
    float: left;

    // OPÇÕES DO MENU
    & ul {
      cursor: pointer;
      padding: 0px;
      margin: 0px;
      list-style: none;
      text-align: center;

      & li {
        display: inline;
        margin-right: 5%;
      }

      & a {
        padding: 5px 10px;
        display: inline-block;
        background-color: #EDEDED;
        color: #333;
        text-decoration: none;
        border-bottom: 3px solid #EDEDED;
        font-size: 18pt;

        &:hover {
          background-color: #D6D6D6;
          color: #6D6D6D;
          border-bottom: 3px solid #EA0000;
        }
      }
    }
  }
}
