<div class="section-component">
  <span></span>
  <div class="section-container">
    <article>ARTIGO 1</article>
    <article>ARTIGO 2</article>
    <article>ARTIGO 3</article>
    <article>ARTIGO 4</article>
    <article>ARTIGO 5</article>
    <article>ARTIGO 6</article>
    <article>ARTIGO 7</article>
    <article>ARTIGO 8</article>
    <article>ARTIGO 9</article>
    <article>ARTIGO 10</article>
    <article>ARTIGO 11</article>
    <article>ARTIGO 12</article>
    <article>ARTIGO 13</article>
    <article>ARTIGO 14</article>
    <article>ARTIGO 15</article>
    <article>ARTIGO 16</article>
  </div>
</div>
